* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
}

.header.nav-header {
    padding: 0px;
    background-color: #fff;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

}

.header .navbar-collapse {
    background-color: #fff;
}

.header {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease 0s;
    height: 90px;
    z-index: 9999;
}

.header .navbar {
    height: 100%;
    background-color: #fff;
}


.me-auto {
    margin-right: 0 !important;
    margin-left: auto !important;
}

header .nav-item {
    padding: 15px !important;
}

header .nav-item .nav-link {
    padding: 0 !important;
}

header .nav-item .nav-link span {
    position: relative;
    transition: all 1s;
}

header .nav-item .nav-link span::before {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #dc4f72;
    transition: all .5s;
}

header .nav-link:hover span::before {
    width: 50%;
}

header .nav-link:hover {
    color: #dc4f72;
}

header .nav-dropdown {
    position: relative;
}

header .nav-dropdown::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 12%;
    width: 0%;
    height: 2px;
    background-color: #dc4f72;
    transition: all .5s;
}

header .nav-dropdown:hover::before {
    width: 15%;
}

header .nav-dropdown:hover a {
    color: #dc4f72
}

header .collapse .search-right i {
    color: var(--text-color);
    font-size: 14px;
    opacity: 0.5;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #F7F9FC;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eee;
}

header .collapse .search-right:hover i {
    opacity: 1;
}

button {
    display: inline-block;
    font-weight: 700;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 15px 30px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #dc4f72;
    border-color: #dc4f72;
}

button:hover {
    color: white;
    background-color: #dc4f72;
}

.dropdown-menu[data-bs-popper] {
    left: -50%;
    position: relative;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    border-radius: none !important;
}

header .dropdown-menu[data-bs-popper]::before {
    content: '';
    width: 14px;
    height: 14px;
    background: white;
    border: 1px solid #d7d4d4;
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -8px;
    left: 49%;
    z-index: 1001;

}

header .search-right .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(27, 26, 26, 0.8);
    opacity: 0;
    visibility: hidden;
}

header .search-right .search-overlay .pop_up {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    top: 50%;
}

header .search-right .search-overlay input {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #5a5a5a;
    height: 55px;
    padding: 15px 20px 12px;
    background: #fff;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

header .search-right .search-overlay button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    height: 55px;
    border: none;
    background: #dc4f72;
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

header .search-right .search-overlay .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 200ms;
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

header .search-right .search-overlay .close:hover {
    opacity: 0.1;
}

header .search-right .search-overlay:target {
    opacity: 1;
    visibility: visible;
}

header .search-right .search-overlay .close i {
    border: none;
    background: none;
    font-size: 25px;
    font-weight: 700;
}

.header-fixed-space-height {
    margin-top: 90px;
}

.my_carousel {
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.9)), url('../img/Masterworkhome01.jpg');
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 80px
}

.my_carousel .carousel_text h2 {
    font-size: 50px;
    font-weight: 700;
}

.my_carousel .carousel_text p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;

}

.why h2 {
    font-size: 46px;
    line-height: 1;
}

.why .why_text {
    max-width: 750px;
    margin: 0 auto;
}

.why .why_content .content_item {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #F7F9FC;
    padding: 3rem 2rem;
    border: 1px solid #F7F9FC;
}

.why .why_content .content_item a {
    text-decoration: none;
    color: black;
}

.why .why_content .content_item a h3 {
    font-weight: 700;
    margin: 16px 0;
}

.why .content_item p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

.why .why_content .content_item:hover {
    transition: 0.3s ease-in;
    background: #fff;
    border: 1px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.about .about_top span {
    display: block;
    margin-bottom: 5px;
}

.about .about_top h2 {
    font-size: 35px;
    line-height: 40px;
    color: #2C3038;
    font-weight: 700;
}

.about .about_top p {
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
}

.btn-about {
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    background-color: #DC4F72;
    color: white;
    transition: all .5s;
}

.btn-about:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

img {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

img:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}

.introduce .introduce_item {
    background-color: #fff;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    transition: 0.3s ease;
    border: 1px solid #f8f9fa;
}

.introduce .introduce_item:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease;
}

.introduce .introduce_item span {
    font-weight: 700;
}

.introduce .introduce_item h2 {
    color: #DC4F72;
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0 15px;
}

.perform {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/MasterworkHome07.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 32px 0;
}

.perform .perform_content {
    width: 45%;
    color: white;

}

.perform .perform_content h3 {
    font-size: 30px;
}

.perform .perform_content p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px
}

.perform .perform_content button {
    background-color: #F8F9FA;
    color: black;
    border: none;
    transition: all .5s;
}

.perform .perform_content button:hover {
    background-color: #E2E6EA;
}

.question {
    background-color: #F6F9FC;
}

.question_text {
    max-width: 750px;
    margin: 0 auto;
}

.question_text h2 {
    font-size: 46px;
}

.accordion {
    gap: 15px;
}

.accordion .accordion-item {
    border-radius: 6px;
}

.accordion-item .accordion-button,
.accordion-item .accordion-button {
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: none;
    border: 0.5px solid #F5F9FC;
    height: 70px;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    color: #5a5a5a
}

.accordion .accordion-item:hover .accordion-button {
    color: black;
}

/* .feature .feature-content .nav-item {
    border-bottom: 1px solid black;
} */
.feature .feature-content .nav-item button {
    color: black;
    font-size: 22px;
    font-weight: 700;

}

.feature .feature-content .nav-item {
    position: relative;
    width: 33%;
    display: flex;
    justify-content: center;
}

.feature .feature-content .nav-item button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0%;
    background-color: #C1C1C1;
}

.feature .feature-content .nav-item button:focus::before {
    background-color: #d62f58;
}

.feature .feature-content .nav-item button:focus {
    color: #d62f58;
}

.feature .feature-content .nav-item button:hover {
    background-color: white;
}

.feature .feature-content .nav-item .active {
    color: #d62f58
}

.feature .feature-content .nav-item .active::before {
    background-color: #d62f58;
}

.feature .responsive-feature {
    display: none;
    visibility: hidden;
}

.feature .responsive-feature .accordion-body {
    padding: 0;
}

.feature .accordion-item .accordion-button:hover {
    color: #dc4f72;
    border-bottom: 3px solid #dc4f72;
}

.client {
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.77)), url(../img/MasterworkHome12.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.client-content .carousel-item .img-circle {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #cf2952;
}

.client-content .carousel-item .item-content {
    padding: 32px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 70px;
    background-color: #fff;
    border-radius: 6px;
}

.client-content .carousel-item .item-content i {
    font-size: 35px;
    color: #2C3038;
    opacity: 0.2;
    position: absolute;
    top: -5px;
    left: -50px;
    right: 0;
}

.client-content .carousel-item .item-content p {
    font-size: 18px;
    color: #2C3038
}

.client-content .carousel-item .item-content .name h4 {
    font-size: 18px;
    color: #DC4F72;
}

.client-content .carousel-item .item-content .name p {
    font-size: 13px;
    color: #5a5a5a;
}

.carousel-1 {
    display: block;
}

.carousel-2 {
    display: none;
}


.carousel-2 .carousel-item .item-content {
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: center;
    padding: 32px 20px;
}

.carousel-2 .carousel-item .item-content .img-circle {
    margin: auto;
}

.carousel-2 .carousel-item .item-content .item-text {
    margin-top: 16px;
}

.carousel-2 .carousel-item .item-content i {
    left: 0;
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators [data-bs-target] {
    width: 40px;
    height: 5px;
    transition: all .5s;
}

.carousel-indicators [data-bs-target]:hover {
    opacity: 1;
    background-color: #dc4f72;
}

.carousel-indicators [data-bs-target].active {
    background-color: #dc4f72;
}

.ready .ready-content h2 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.ready .ready-content {
    max-width: 750px;
}

.about7-footer .about-footer-16-main {
    background: #f7f9fc;
}

.about7-footer .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.about7-footer .about-footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.about7-footer ul {
    margin: 0;
    padding: 0;
    list-style: disc;
}

.about7-footer .column li {
    display: block;
    list-style: none;
    margin: 10px 0;
    list-style-type: none;
}

.about7-footer .column li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.about7-footer .column li:hover a {
    color: #dc4f72;
}

.about7-footer .end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.about7-footer .about-footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 400;
}

.about7-footer .subscribe input[type="email"] {
    background: #f7f9fc;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2c3038;
    font-weight: 600;
    border-radius: 6px;
}

.about7-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

.about7-footer .about-footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.about7-footer ul.social li {
    display: inline-block;
    margin-right: 5px;
}

.about7-footer ul.social li a {
    color: #2c3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s all;
}

.about7-footer ul.social li a:hover {
    color: #dc4f72;
    transition: 0.3s all;
}
.animation-none:hover {
    transform: none;
}
@media (max-width:568px) {
    header .navbar-collapse {
        background-color: #fff;
    }

    .my_carousel .carousel_text h2 {
        font-size: 40px;
        line-height: 45px;
    }

    button {
        line-height: 44px;
        padding: 0px 20px
    }

    .header {
        height: auto;
        padding: 15px 0;
    }

    .why h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .perform .perform_content {
        width: 100%;
    }

    .perform .perform_content h3 {
        font-size: 26px;
    }

    .question_text h2 {
        font-size: 32px;
    }

    .feature .responsive-feature {
        display: block;
        visibility: visible;
    }

    .feature .feature-content {
        display: none;
        visibility: hidden;
    }

    .feature .responsive-feature .accordion-body h2 {
        font-size: 24px;
        margin-bottom: 14px;
    }

    .client {
        height: 750px;
    }

    .carousel-1 {
        display: none;
    }

    .carousel-2 {
        display: block;
    }

    .ready .ready-content h2 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 0;
    }

    footer .below-section {
        flex-direction: column;
    }

    .dropdown-menu[data-bs-popper] {
        left: 0;
        top:20px;
    }
        .btn-about {
            padding:0 20px;
            line-height: 44px;
        }
}

.backtotop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
}

.js-cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}

@media (min-width:568px) and (max-width:1024px) {
    .perform .perform_content {
        width: 60%;
    }

    .about7-footer .about-footer-16-main p {
        margin-bottom: 0;
    }
}